* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
}

#starw {
  display: flex;
  font-size: 20px;
  min-width: 250px;
  max-width: 250px;
  font-weight: bold;
  padding-top: 10px;
  flex-direction: row;
}

#starw:before,
#starw:after {
  content: "";
  flex: 1 1;
  background-color: white;
  padding: 10px;
  background-clip: content-box;
}

#starb {
  display: flex;
  flex-direction: row;
  min-width: 250px;
  max-width: 250px;
  font-weight: 900;
  padding-top: 10px;
  font-weight: bolder;
}

#starb:before,
#starb:after {
  content: "";
  flex: 1 1;
  background-color: #2b3e50;
  padding: 10px;
  background-clip: content-box;
}

.header {
  background-color: #18bc9c;
  width: 100%;
  height: auto;
  color: white;
}

#header1 {
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5em 4em;
  align-items: center;
  background-color: #2b3e50;
  justify-content: space-between;
}

#header1 h1 {
  font-size: 2em;
}

#header1 nav {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

#header1 a {
  width: 140px;
  padding: 5px;
  color: #ffffff;
  font-size: 1.1em;
  text-align: right;
  margin-right: 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  align-content: flex-start;
}

#header1 p {
  display: none;
}

#header2 {
  display: flex;
  max-width: 1440px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 100px 0px;
  margin: 120px auto auto auto;
}

#header2 img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#header2 h1 {
  font-size: 4em;
  margin-top: 30px;
}

#header2 span {
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
}

#header2 p {
  font-size: 2em;
  margin-top: 30px;
  font-weight: bold;
}

.portfolio {
  width: 100%;
  margin: auto;
  padding: 60px;
  display: grid;
  grid-gap: 20px;
  color: #2b3e50;
  max-width: 1440px;
  grid-template-rows: 1fr 3fr 3fr;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio .title {
  grid-column-start: 1;
  grid-column-end: 4;
}

.portfolio h1 {
  min-width: 0;
  font-size: 3em;
  text-align: center;
  align-self: end;
}

.portfolio h2 {
  text-align: center;
  align-self: flex-start;
  margin: 5px auto auto auto;
}

.portfolio div {
  width: 100%;
  align-self: center;
  border-radius: 5px;
  position: relative;
}

.portfolio img {
  margin: auto;
  padding: 15px;
  width: 100%;
}

.about {
  width: 100%;
  padding: 60px;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #18bc9c;
}

.about h1 {
  font-size: 3em;
}

.about h2 {
  justify-self: flex-start;
  margin-bottom: 20px;
}

.about span {
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
}

.about .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  max-width: 850px;
  text-align: left;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: space-between;
}

.about .left-col,
.right-col {
  flex-basis: 50%;
  padding: 10px 10px;
}

.about .btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  align-items: center;
  display: inline-block;
  vertical-align: bottom;
  justify-content: center;
  border: 2px solid #ffffff;
  padding: 18px 35px 15px 30px;
}

.contact {
  width: 100%;
  height: auto;
  padding: 60px;
  display: flex;
  color: #2b3e50;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact h1 {
  min-width: 0;
  font-size: 3em;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact form {
  width: 100%;
  margin-top: 20px;
  max-width: 700px;
  text-align: left;
  align-items: flex-start;
}

.contact label {
  width: 100%;
  font-size: 20px;
  margin: 20px 0px;
  color: #70787e;
  font-weight: bold;
  margin-top: 250px;
}

.contact input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 20px;
  margin: 20px 0px;
  background: transparent;
  border-bottom: 1px solid rgba(112, 120, 126, 0.3);
}

.contact textarea {
  border: 0;
  outline: 0;
  width: 100%;
  height: 120px;
  font-size: 20px;
  margin: 20px 0px;
  background: transparent;
  border-bottom: 1px solid rgba(112, 120, 126, 0.3);
}

.contact .btn {
  width: 100px;
  display: block;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  padding: 18px 10px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #18bc9c;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: center;
  background-color: #2b3e50;
}

footer .info {
  padding: 60px 50px;
  justify-content: space-between;
}

footer address {
  flex-basis: 33%;
  max-width: 500px;
  font-style: normal;
  text-align: center;
}

footer h2 {
  /* padding: 30px 30px 15px 30px; */
  padding-bottom: 20px;
}

footer span {
  color: #18bc9c;
}

footer a {
  padding: 12px;
  margin: 0px 2.5px;
  border-radius: 50%;
  border: 2px solid white;
  justify-content: space-between;
}

#copyright {
  width: 100%;
  padding: 30px;
  color: white;
  text-align: center;
  background-color: #1a252e;
}

@media (max-height: 850px) {
  .header {
    height: auto;
    width: 100%;
  }

  #header1 {
    height: auto;
  }
  #header2 {
    height: auto;
    padding: 60px;
  }

  .portfolio {
    height: auto;
    padding: 60px;
  }

  .about {
    height: auto;
    padding: 60px;
  }

  .contact {
    padding: 60px;
    height: auto;
  }

  .info {
    height: auto;
    padding: 60px;
  }
}

@media (max-width: 991px) {
  #header1 {
    padding: 2.5em 1.8em;
  }

  #header1 h1 {
    font-size: 1.7em;
  }

  #header1 a {
    width: 110px;
    padding: 5px;
    font-size: 1.1em;
  }

  #header2 {
    padding: 60px;
  }

  #header2 p {
    font-size: 1.5em;
  }

  .portfolio {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 3fr 3fr 3fr;
  }

  .portfolio .title {
    grid-column-end: 3;
    grid-column-start: 1;
  }

  .portfolio h1 {
    font-size: 2.5em;
    vertical-align: text-bottom;
  }

  .about h1 {
    font-size: 2.5em;
  }

  .contact h1 {
    font-size: 2.5em;
  }

  footer h2 {
    padding: 30px 0px 15px 0px;
  }

  footer address:first-child > h2 {
    padding: 0px 0px 15px 0px;
  }

  .info {
    width: 100%;
    height: auto;
  }

  .info address {
    flex-basis: 100%;
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  #header1 nav {
    display: none;
  }

  #header1 p {
    padding: 15px;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.6em;
    background-color: #18bc9c;
    justify-content: space-between;
  }

  #header1 span {
    font-size: 20px;
    padding: 0px 0px 0px 10px;
  }

  .contact {
    width: 100%;
    height: auto;
    padding: 60px;
  }
}

@media (max-width: 575px) {
  .header {
    width: 100%;
    height: auto;
  }

  #header1 {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em;
    align-items: center;
    justify-content: space-between;
  }

  #header1 h1 {
    font-size: 1.1em;
    font-weight: bolder;
  }

  #header1 p {
    padding: 10px;
    font-size: 13px;
  }

  #header1 span {
    font-size: 15px;
    padding: 0px 0px 0px 5px;
  }

  #header2 {
    top: 180px;
    margin: 0px auto;
    padding: 60px 30px;
    vertical-align: text-bottom;
  }

  #header2 img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }

  #header2 h1 {
    font-size: 2.2em;
    vertical-align: text-bottom;
  }

  #header2 h2 {
    font-size: 1.5em;
    vertical-align: text-bottom;
  }

  #header2 p {
    margin-top: 20px;
    font-size: 1.3em;
    vertical-align: text-bottom;
  }

  .portfolio {
    width: 100%;
    height: auto;
    grid-gap: 30px;
    padding: 60px 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr repeat(6, 3fr);
  }

  .portfolio .title {
    grid-column-end: 2;
    grid-column-start: 1;
  }

  .portfolio h1 {
    font-size: 2em;
    vertical-align: text-bottom;
  }

  .about {
    width: 100%;
    height: auto;
    padding: 60px 30px;
  }

  .about h1 {
    font-size: 2em;
  }

  .about p {
    font-size: 1em;
  }

  .about .left-col,
  .right-col {
    flex-basis: 100%;
  }

  .contact {
    padding: 60px 30px;
  }

  .contact h1 {
    font-size: 2em;
  }

  .contact h2 {
    margin: 20px;
  }

  footer .info {
    width: 100%;
    padding: 60px 30px;
  }

  .info address {
    flex-basis: 100%;
    padding: 0px;
  }

  .info h2 {
    margin: 25px 0px 15px 0px;
    padding: 0px;
  }

  #copyright {
    font-size: 0.9em;
  }
}
